@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --primary-color: #f60f20;
    --secondary-color:#1b206e;
}

*{
box-sizing: border-box;
margin:0;
padding:0;
}
html,
body{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    background-color: #e5e5e5;
    color:#111 ;
   line-height: 1.7;
   
}
h3{
    font-size:40px;
    font-weight: 750;
    color: black;
    
}
h3 span{
    font-size: 40px;
    font-weight: 700;
    color:grey;
}
/*navigation*/

.navigation {
    position:fixed;
    top:0;
    left:100%;
    width:100%;
    height:100%;
    background-color: #343a40;
    z-index:15;
    display:flex;
    justify-content: center;
    align-items:center;

}

.navigation.active{
left:0;
}
.navigation ul{
position: relative;
}
.navigation ul li{
    list-style: none;
}
.navigation ul li a{
   font-size: 2rem; 
   color:#fff;
   text-decoration:none;
   font-weight:500;
}
.navigation ul li a:hover{
    color:var(--primary-color);
}
.logo{
   position: absolute;
    top: 20px;
    left: 450px;
    font-size: 3.5rem;
    font-weight: 700; 
    color:#fff;
  
}


/*toggle*/
.toggle{
    position:fixed;
    top:0;
    right:0;
    width:60px;
    height:60px;
    background-color: red;
    /* background:var(--primary-color) url(../images/menu.png); */
    /* background-size:30px ; */
    background-position: center;
    background-repeat: no-repeat;
    z-index:20;
    cursor:pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.toggle > span:first-child {
    width: 35px;
    border-radius: 2px;
    margin: 5px 0px;
    height: 4px;
    background-color: white;
    transition: 0.1s;
}
.toggle > span:nth-child(2) {
    width: 35px;
    border-radius: 2px;
    margin: 5px 0px;
    height: 4px;
    background-color: white;
    transition: 0.1s;
}
.toggle.active{
    z-index: 16;
    /* background:var(--primary-color) url(../images/close.png); */
    background-size:20px ;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.1s;
}
.toggle.active > span:first-child {
    transform: translateY(5px) rotateZ(45deg);
    transition: 0.1s;
}
.toggle.active > span:nth-child(2) {
    transform: translateY(-10px) translateX(0px) rotateZ(-45deg);
    transition: 0.1s;
}

.social-bar{
    position:absolute;
    top:0;
    left:0;
    width:80px;
    height:100%;
    z-index: 16;
    display:flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.social-bar a{
    display:flex;
    transform:scale(0.5);
    width:80px;
}
.social-bar.active {
    display: flex;
}
.email-icon{
    position: absolute;
    bottom:20px;
    transform:scale(0.5);
}
section{
    display:flex;
    height:100vh;
    align-items:center;
    flex-direction: column;
    padding: 100px;
    margin-top: 60px;
}
section.home{
    flex-direction: row;
    margin-top: 0;
}

/* homepage */
.home-content{
    position: relative;
    z-index: 10;
    max-width: 600px; 
    left: 10;
}

.home-img {
    position: absolute;
    bottom:0;
    right: 0;
    height: 110%;
 }
/* button*/
.btn{
    cursor:pointer;
    display:inline-block;  
          background:var(--primary-color);
          color:#fff;
          text-decoration:none;
          padding:10px 30px;
          margin:20px;
      
   }
   .btn:hover{
       transform:scale(0.98);
   }

       /* media query */
 @media(max-width: 1068px) {
    .home-img{
        display:none;
    }
    .logo{
        top:20px;
        left:70px;
        font-size: 1.8rem; 
    }
    section{
        padding: 100px 40px;
    }
    .navigation ul li a{
        font-size: 2rem;
    }
    .navigation ul li a:hover{
       color:var(--primary-color);
   }
}